{{!-- <footer class="page-footer lighten-1"> --}}
  <footer>
    <div class="container">
      All articles belong to <a href='https://www.sbnation.com/sports-betting-odds-gambling' target="_blank">SBNation</a>  |
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a> 
      <a href="https://github.com/romontilus/scraper"> <i id="github" class="fab fa-github"></i></a>
    </div>
  </footer>
{{!-- </footer> --}}