  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Scrape The Spread</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/romontilus/scraper"> <i id="github" class="fab fa-github"></i></a> </li>
      </ul>
    </div>
  </nav>